vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Dec 2015 01:58:55 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|TS05-17\\Administrator
vti_modifiedby:SR|TS05-17\\Administrator
vti_timecreated:TR|08 Dec 2015 01:58:55 -0000
vti_cacheddtm:TX|08 Dec 2015 01:58:55 -0000
vti_filesize:IR|27356
vti_cachedlinkinfo:VX|S|folglobl.gif S|folbkgnd.jpg S|folbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/folio/folglobl.gif FSUS|_themes/folio/folbkgnd.jpg FSUS|_themes/folio/folbul2.gif FSUS|_themes/folio/toolgrad.gif FSUS|_themes/folio/dot.gif FSUS|_themes/folio/toolgrad.gif FSUS|_themes/folio/theme.css FSUS|_themes/folio/blank.gif
vti_backlinkinfo:VX|_themes/folio/theme.css
